.banniere {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 325px;
  width: 100%;
  background-image: url("../img/banner-bg.jpg");
  background-size: 100% 100%;
  * {
    color: white;
  }
  *:not(p:last-of-type) {
    text-transform: uppercase;
  }

  p:last-of-type {
    width: 80%;
    text-align: center;
    margin-bottom: 20px;
  }

  a {
    text-decoration: none;
    background-color: rgb(242, 116, 95);
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 12px;
  }
}

@media (max-width: 424px) {
  .banniere {
    *:not(a) {
      width: 100%;
      text-align: center;
    }
    h1 {
      font-size: max(8vw, 25px);
    }
    p {
      width: 80%;
      font-size: max(3.5vw, 13px);
    }
  }
}
