footer {
    height: 100px;
    padding-top: 3%;
    div {
        .iconF {
            padding: 7px 12px;
        }
        .iconT {
            padding: 7px 9px;
        }
        .iconL{
            padding: 7px 10px;
        }
        .iconR{
            padding: 7px 7px;
        }
        .iconB{
            padding: 7px 10px;
        }
        p {
            font-size: 12px;
        }
    }
}
    
