.section2 {
  width: 100%;

  .section2_header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    background-image: url("../img/book-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    // border: 2px solid green;
    h2,
    a {
      text-transform: uppercase;
    }
    h2 {
      color: white;
    }
    .container-form {
      display: flex;
      width: 65%;
      height: 60%;
      //   border: 2px solid red;
      img {
        width: 40%;
      }
      img,
      .form-reservation {
        height: 100%;
        // border: 2px solid purple;
      }
      .form-reservation {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background-color: white;
        width: 100%;

        form {
          display: flex;
          height: 80%;
          width: 100%;
          select {
            color: grey;
            option:not(.select-default) {
              color: black;
            }
          }
          .form-content {
            // border: 2px solid purple;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            width: 100%;

            *:not(button) {
              border-top: none;
              border-left: none;
              border-right: none;
              border-bottom: 1px solid rgba(123, 123, 123, 0.5);
            }

            * {
              width: 80%;
              outline: none;
            }

            button {
              border: none;
              background-color: rgb(242, 116, 95);
              color: white;
              padding: 7px 0;
              margin-top: 5px;
              border-radius: 5px;
            }
          }
        }
      }
    }
  }
  .section2_footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-color: rgb(242, 116, 95);
    * {
      width: fit-content;
    }

    h2 {
      color: white;
      font-size: 20px;
    }
    a {
      text-decoration: none;
      margin-top: 10px;
      color: rgb(242, 116, 95);
      background-color: white;
      padding: 10px;
      border-radius: 5px;
      text-transform: uppercase;
      font-size: 13px;
    }
  }
}
@media (max-width: 1024px) {
  .section2 {
    .section2_header {
      .container-form {
        img {
          display: none;
        }
        .form-reservation {
          height: 100%;
          width: 100%;
          form {
            height: 100%;
            width: 100%;

            .form-content {
              height: 100%;
              width: 100%;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .section2 {
    .section2_header {
      .container-form {
        img {
          display: none;
        }

        .form-reservation {
          height: 100%;
          width: 100%;

          form {
            height: 100%;
            width: 100%;
            // border: 2px solid blue;
            // flex-direction: column;
            .form-content {
              width: 100%;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 425px) {
  .section2 {
    .section2_header {
      height: 400px;
      .container-form {
        height: 80%;
        width: 70%;
        img {
          display: none;
        }
        .form-reservation {
          height: 100%;
          width: 100%;

          margin: 0;
          form {
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
            width: 100%;
            .form-content {
              width: 100%;
              height: 100%;
              //   border: 2px solid blue;
              //   height: max(15vw, 15px);
              //   width: max(100%, 225px);
              //   button {
              //     margin-top: 50px;
              //   }
            }
          }
        }
      }
    }

    .section2_footer {
      a {
        font-size: max(1.5vw, 15px);
      }
    }
  }
}
