$font-logo: "PT Serif", serif;
$theme-colors: (
  "footer": rgb(54, 62, 80),
  "grey": rgb(242, 246, 255),
  "saumon": rgb(242, 116, 95),
);

$sizes: (
  "380": 380px,
  "120": 120px,
  "220": 248px,
  "350": 350px,
  "60": 60%,
  "45": 45%,
);
