$font-logo: "PT Serif", serif;
$theme-colors: (
  "footer": rgb(54, 62, 80),
  "grey": rgb(242, 246, 255),
  "saumon": rgb(242, 116, 95),
  "greyInput": rgb(244, 244, 245),
);

$sizes: (
  "5": 5%,
  "10": 10%,
  "15": 15%,
  "20": 20%,
  "30": 30%,
  "35": 35%,
  "40": 40%,
  "45": 45%,
  "55": 55%,
  "60": 60%,
  "65": 65%,
  "70": 70%,
  "80": 80%,
  "85": 85%,
  "90": 90%,
  "95": 95%,
);
